@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
    border: 1px solid red;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

#title {
    background: yellow;
    /*add CSS here*/
    margin:center;
    padding: 30px;
    margin: 50px;
    display: block;
    
}

#subtitle {
    background: black;
    color: white;
    /*add CSS here*/
    display: block;
    margin: 50px;
    padding: 30px
    
    
}

.topic {
    background: lightgray;
    /*add CSS here*/
    display: inline-block;
    margin: 50px;
    
}